:root {
    --sidebar-bg-color: #00A6ED;
    --white-bg-color: #ffffff;
    --main-content-bg-color: #e5e7eb;
    --item-side-color: #FFB400;
    --black-tittle-color: #000000;
    --gray-color: #a6a6a6;
    ----info-dash-color: #ebebebbd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    max-width: 120rem;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.side-bar, .item-tittle, .admin-name {
    font-size: 1.375rem;
}

.side-bar, .item-tittle, .project-tittle, .announcement-tittle, .trending-tittle, 
.info-tittle, .user, .dashboard-tittle, .admin-name, .greeting-text, .greeting-user, .btn {
    font-weight: 600;
}

/* Page layout */

.container {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 2fr 4fr;
    color: var(--white-bg-color);
}

.header {
    background-color: var(--header-bg-color);
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: 1fr 2fr / 2fr 1fr;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2)
}

.main-content {
    background-color: var(--main-content-bg-color);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1rem;
}

.header, .main-content {
    padding-right: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.item, .announcement-info-container, .users-container {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Main container layout */

.item-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 2.5rem;
    grid-column-gap: 2rem;
    width: calc(100% - 2.5rem);
    height: 100%;
}

.item {
    display: grid;
    grid-template-rows: 20% 50% 30%;
    border-radius: 0.625rem;
    background: var(--white-bg-color);
    padding: 1.25rem 1.5rem;
    border-left: 0.625rem solid var(--item-side-color);
}

.item-icon {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.item-tittle {
    align-self: end;
    color: var(--black-tittle-color);
}

.item-text {
    font-size: 1.25rem;
    color: var(--gray-color);
}

.extra-icons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.project-container {
    display: grid;
    grid-template-rows: 7% 93%;
    margin: 0 1rem 4rem 1rem;
    height: calc(75vh + 1rem);
}

.project-tittle, .announcement-tittle, .trending-tittle {
    align-self: end;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

/* Announcements and trending layout */

.right-side-container {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 75vh;
    row-gap: 2.5rem;
    margin-right: 1.5rem;
}

.announcement-info-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding: 2rem 3rem;
    background-color: var(--white-bg-color);
    border-radius: 0.625rem;
    border: none;
}

.announcement-container {
    display: grid;
    grid-template-rows: 14% 86%;
}

.info-tittle {
    font-size: 1.125rem;
}

.info-text {
    color: var(--gray-color);
}

.info-2 {
    border-bottom-style: groove;
    border-top-style: groove;
    border-color: var(--info-dash-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.trending-container {
    height: calc(100% - 2.5rem);
}

.users-container {
    display: grid;
    height: calc(100% - 1.625rem);
    background-color: var(--white-bg-color);
    border-radius: 0.625rem;
    border: none;
}

.users {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.2rem;
}

.user-icon {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
    border-radius: 2.5rem;
    width: 4rem;
    height: 4rem;
}

.user {
    align-self: flex-end;
}

.user-text {
    color: var(--gray-color);
}

/* Sidebar layout */

.logo-img {
    filter: invert(100%) sepia(55%) saturate(0%) hue-rotate(60deg) brightness(117%) contrast(101%);
    max-width: 6vw;
    max-height: 6vh;
}

.dashboard-logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: center;
}

.dashboard-tittle {
    align-self: center;
    font-size: 2rem;
    color: var(--white-bg-color);
}

.navigation-section {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.icon {
    justify-self: center;
    filter: invert(100%) sepia(55%) saturate(0%) hue-rotate(60deg) brightness(117%) contrast(101%);
    width: 2rem;
    height: 2rem;
}

.branding-section {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    grid-row: 4 / 5;
}

a {
    text-decoration: none;
    color: var(--white-bg-color);
    font-size: 1.5rem;
}

/* Header layout */

form {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-left: 1.875rem;
}

.search-icon {
    height: 2.5rem;
    width: 2.5rem;
}

input {
    width: 100%;
    height: 3vh;
    background-color: var(--main-content-bg-color);
    border: none;
    border-radius: 1.25rem;
}

.search-container {
    margin: auto 0;
}

.btn-search {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    gap: 1.875rem;
}

.login-container > .cat-icon {
    grid-column: 2/3;
    border-radius: 2.5rem;
    width: 3.75rem;
    height: 3.75rem;
}

.login-container > .ring-icon {
    width: 1.875rem;
    height: 1.875rem;
}

.greating-container {
    display: grid;
    grid-template-columns: 15% 85%;;
    line-height: 2.5rem;
    margin-left: 2.5rem;
}

.greating-container > .cat-icon {
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    border-radius: 3.125rem;
    width: 6.25rem;
    height: 6.25rem;
}

.greeting-text {
    align-self: end;
    font-size: 1.25rem;
}

.greeting-user {
    font-size: 1.75rem;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    height: 3.75rem;
    width: 7.5rem;
    border: none;
    border-radius: 1.875rem;
    background-color: var(--sidebar-bg-color);
    color: var(--white-bg-color);
    font-size: 1.25rem;
}